@import partials/globals/animations
@import partials/globals/mixins
@import "partials/components/header"
@import "partials/components/footer"
@import "partials/variables/sizes"
@import "partials/containers/projects"
@import "partials/containers/home"
@import partials/containers/about
@import partials/containers/contact
@import "partials/components/navdrawer"
@import partials/components/beaver_card
@import partials/components/speaker_card

*
  margin: 0
  padding: 0
  outline: none

body
  background-color: $background-default
  overflow-x: hidden

a
  text-decoration: none !important
  color: inherit !important


.white-override
  color: white !important

.list-overide
  color: white !important