@keyframes pulsate {
  0% {
    transform: scale(0.9); }
  10% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

.appBar {
  background: #2d2d2d !important;
  color: white !important; }

.context-menu-override {
  background-color: #2d2d2d !important; }

@media (max-width: 786px) {
  .hamburger {
    display: none !important; } }

.footer-container {
  width: 100%;
  background: #2d2d2d;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative; }
  .footer-container .copyright {
    height: 20px;
    margin-right: 20px;
    cursor: default; }

.project-container {
  min-height: 85vh;
  width: 100%; }
  .project-container .project-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap; }
    .project-container .project-list .project-card {
      flex: 1 1 350px;
      margin: 15px; }
      .project-container .project-list .project-card .skillets {
        background-color: #5A352D;
        background-size: 100% 100%; }
      .project-container .project-list .project-card .aggre {
        background-color: #0F7BE0;
        background-size: 100% 100%; }
      .project-container .project-list .project-card .beaver {
        object-fit: contain;
        background-color: #373737;
        background-size: 100% 100%; }
      .project-container .project-list .project-card .adamahrens {
        object-fit: contain; }
      .project-container .project-list .project-card .halla {
        background-color: #e76060;
        width: auto;
        object-fit: contain;
        background-size: 50% 80%; }

.project-ghost {
  flex: 1 1 350px;
  margin: 15px; }

.project-item {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative; }
  .project-item .project-logo {
    width: auto;
    height: 100%;
    float: left; }

.project-card-actions {
  margin-top: auto; }

.about-container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  background-color: #aeaeae; }
  .about-container .about-text-wrapper {
    width: 65%;
    margin: 0 auto 0 auto;
    padding: 40px;
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 15pt;
    font-family: Helvetica, sans-serif;
    background-color: #d7d7d7; }
    @media (max-width: 786px) {
      .about-container .about-text-wrapper {
        width: 100%;
        font-size: 13pt; } }
    .about-container .about-text-wrapper p {
      margin-top: 20px; }

.about-sub-header {
  margin-top: 15px; }

.sub-header-list li {
  margin: 10px 0 0 0; }

.black-icon-contact {
  margin-right: -8px !important;
  margin-left: 8px !important;
  background: black !important;
  color: white !important; }

.contact-container {
  background: #aeaeae;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 20pt; }
  @media (max-width: 786px) {
    .contact-container {
      min-height: calc(100vh - 56px); } }
  .contact-container h1 {
    margin-top: 30px; }
  .contact-container .copy-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    @media (max-width: 786px) {
      .contact-container .copy-item {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 25px; } }

.personal-logo {
  height: 50px;
  width: 50px; }

.linkedin {
  font-size: 20pt;
  text-align: center;
  font-family: "Myriad Pro", Helvetica, sans-serif;
  display: flex;
  align-items: flex-end;
  padding-top: 5px; }
  @media (max-width: 786px) {
    .linkedin {
      padding-top: 3px; } }

.github {
  font-size: 20pt;
  font-family: Roboto, sans-serif;
  margin-left: 4px; }

.logo-button-wrapper {
  display: flex;
  flex-wrap: nowrap; }
  .logo-button-wrapper .logo-button {
    overflow: hidden;
    position: relative;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 10px; }

.beaver-banner-wrapper {
  background-color: #21ce99;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap; }
  @media (max-width: 786px) {
    .beaver-banner-wrapper {
      flex-wrap: wrap;
      justify-content: center; } }
  .beaver-banner-wrapper .beaver {
    height: 500px;
    width: auto; }
    @media (max-width: 786px) {
      .beaver-banner-wrapper .beaver {
        height: 300px;
        margin-top: 100px; } }
  .beaver-banner-wrapper .beaver-text {
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    font-size: 30pt;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    flex-direction: column;
    color: white; }
    .beaver-banner-wrapper .beaver-text ul {
      margin-top: 10px; }
    @media (max-width: 786px) {
      .beaver-banner-wrapper .beaver-text {
        font-size: 20pt;
        margin-bottom: 20px; } }
    .beaver-banner-wrapper .beaver-text .beaver-text-header {
      display: flex;
      align-items: center;
      text-align: center;
      background-color: white;
      color: #21ce99;
      font-size: 40pt;
      padding: 20px;
      min-height: 100px; }
      @media (max-width: 786px) {
        .beaver-banner-wrapper .beaver-text .beaver-text-header {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100px;
          font-size: 30pt;
          color: #21ce99; } }

.content-container {
  background-color: #3c3f41;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh - 64px; }
  .content-container .text {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    margin: 30px;
    color: white;
    opacity: .85;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 50px; }
    .content-container .text .sub-header {
      font-size: 30px; }
      @media (max-width: 786px) {
        .content-container .text .sub-header {
          font-size: 20px; } }

.home-table {
  height: auto;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
  max-height: 725px; }
  .home-table .background {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 153, 51, 0.8), rgba(255, 153, 51, 0.8)), linear-gradient(white, white); }
  .home-table img {
    width: 100%;
    position: relative;
    max-height: inherit; }
  .home-table .teeny {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 0; }
  .home-table .left {
    margin-left: 20vw;
    left: 0; }
  .home-table .right {
    margin-right: 20vw;
    right: 0; }
  .home-table .pulsating {
    animation-duration: .4s;
    animation-name: pulsate;
    animation-iteration-count: infinite; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  background-color: #aeaeae;
  overflow-x: hidden; }

a {
  text-decoration: none !important;
  color: inherit !important; }

.white-override {
  color: white !important; }

.list-overide {
  color: white !important; }
